
body {
font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#global-header {
background-color:#111;
border-bottom:none;
height:38px;
padding:10px 0;
}

#global-header div {
height:48px;
}

#global-header div .logo {
display:block;
float:left;
}

#global-header div .logo img {
height:38px;
}

#global-header div nav {
float:right;
}

#global-header div nav ul {
position:relative;
}

#global-header div nav ul li {
border-right:none;
margin:12px 0 0 20px;
padding:0;
}

#global-header div nav ul li a {
color:#888;
font-family:Cabin,sans-serif;
font-size:16px;
text-shadow:1px 1px #000;
text-transform:uppercase;
}

#global-header div nav ul li a:hover {
color:#FFF;
text-decoration:none;
}

#main {
padding-top:30px;
}

#main article {
margin:20px 0;
}

#global-footer {
background-color:#111;
padding:10px 0;
}

#global-footer ul {
}

#global-footer .social-actions {
margin-top:5px;
}

#intro {
background-color:#222;
color:#CCC;
line-height:1.6em;
padding:30px 30px 40px;
background-image: url('../images/logo.png');
background-repeat: no-repeat;
background-size: 163px;
background-position-x: 15px;
padding-left: 218px;
}

#intro h1,#intro h4 {
font-weight:700;
margin:10px 0;
}

#intro h1 {
color:#FFF;
font-size:38.5px;
line-height:40px;
}

#intro h4 {
color:#CCC;
font-size:17.5px;
line-height:20px;
}

#intro p {
margin:0;
}

#intro .actions {
margin-top:20px;
}

#intro .actions .cta:hover {
  background-color: #14D673;
}


#intro .actions .cta {
  transition: background-color .6s;
-moz-border-radius:6px;
-moz-box-shadow:rgba(255,255,255,0.2) 0 1px 0 false true,rgba(255,255,255,0.05) 0 1px 2px;
-ms-border-radius:6px;
-o-border-radius:6px;
-webkit-border-radius:6px;
-webkit-box-shadow:rgba(255,255,255,0.2) 0 1px 0 false true,rgba(255,255,255,0.05) 0 1px 2px;
background-color:#00A651;
background-image:linear-gradient(top,#62c462,#51a351);
border:1px solid #bbb;
border-color:#51a351 #51a351 #387038;
border-radius:6px;
box-shadow:rgba(255,255,255,0.2) 0 1px 0 false true,rgba(255,255,255,0.05) 0 1px 2px;
color:#FFF;
cursor:pointer;
display:inline;
font-size:17.5px;
line-height:20px;
margin-right:15px;
padding:11px 19px;
text-align:center;
text-decoration:none;
text-shadow:rgba(0,0,0,0.25) 0 -1px 0;
vertical-align:middle;
zoom:1;
}

#quick-launch {
padding-top:30px;
}

#quick-launch .instructions {
list-style-type:none;
margin:0 0 0 107px;
overflow:hidden;
}

#quick-launch .instructions .step {
float:left;
margin-right:15px;
width:174px;
}

#quick-launch .instructions .step:last-child {
margin-right:0;
}

#quick-launch .instructions .step.active .step-number {
background-color:#fff;
border-color:#00A651;
color:#00A651;
}

#quick-launch .instructions .step a {
text-decoration:none;
}

#quick-launch .instructions .step p {
color:#999;
margin:0;
overflow:hidden;
width:88px;
}

#quick-launch .instructions .step .step-number {
border:4px solid #999;
border-radius:40px;
color:#999;
float:left;
font-size:18px;
font-weight:700;
height:33px;
line-height:33px;
margin-right:10px;
text-align:center;
width:33px;
}

#quick-launch .terminal {
height:230px;
margin:10px 0 0 38px;
overflow:hidden;
position:relative;
}

#quick-launch .terminal .prompt {
color:#FFF;
font-family:Monaco;
font-size:12px;
font-weight:700;
left:49px;
position:absolute;
top:47px;
width:704px;
z-index:50;
}

#quick-launch .terminal .prompt .command {
display:none;
}

#quick-launch .terminal .prompt .command.active {
display:inline;
}

#quick-launch .terminal img {
width:810px;
}

#features {
margin:0 auto 0 83px;
overflow:hidden;
padding:30px 0;
width:735px;
zoom:1;
}

#features .feature {
float:left;
width:33%;
}

#features .feature h4 {
color:#00A651;
font-size:17.5px;
font-weight:400;
margin-bottom:10px;
margin-top:0;
}

#features .feature p {
color:#666;
font-size:14px;
line-height:20px;
margin:0;
padding-right:15px;
}

#global-footer ul li a,#quick-launch .instructions .step.active p {
color:#00A651;
}

#quick-launch h2,#features h2 {
margin-bottom:30px;
text-align:center;
}

pre code {
  display: block;
  padding: 15px;
  background: #E4E9E2;
  margin: 10px;
}

#main article img {
  max-width: 100%;
}

ul.tutorials li {
  font-size: 20px;
  line-height: 30px;
}

ul.tutorials li:before {
  content: '> ';
}
