@import "compass";

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

// Global header
#global-header {
  background-color: #111;
  border-bottom: none;
  height: 38px;
  padding: 10px 0;

  div {
    height: 48px;
    /*width: 960px;*/

    .logo {
      display: block;
      float: left;

      img {
        height: 38px;
      }
    }

    nav {
      float: right;

      ul {
        position: relative;

        li {
          border-right: none;
          margin: 12px 0 0 20px;
          padding: 0;

          a {
            color:#888;
            text-shadow: 1px 1px #000;
            font-size: 16px;
            font-family: 'Cabin', sans-serif;
            text-transform: uppercase;   

            &:hover {
              text-decoration: none;
              color: #FFF;
            }        
          }
        }
      }
    }
  }
}

// Main container
#main {
  /*width: 960px;*/
  padding-top: 58px;

  article {
    margin: 20px 0;
  }
}

// Global footer
#global-footer {
  background-color: #111;
  border-top: 5px solid #7DAF42;
  padding: 10px 0;

  ul {
    display: block;
    margin-top: 14px;

    li {

      a {
        color: #7DAF42;
      }
    }
  }

  .social-actions {
    margin-top: 5px;
  }
}

// Homepage - Intro
#intro {
  background-color: #222;
  color: #CCC;
  line-height: 1.6em;
  padding: 30px 30px 40px 30px;

  h1, h4 {
    font-weight: bold;
    margin: 10px 0;
  }

  h1 {
    color: #FFF;
    font-size: 38.5px;
    line-height: 40px;
  }

  h4 {
    color: #CCC;
    font-size: 17.5px;
    line-height: 20px;
  }

  p {
    margin: 0;
  }

  .actions {
    margin-top: 20px;

    button {
      @include background-image(linear-gradient(top, #62C462, #51A351));
      @include border-radius(6px);
      @include inline-block();
      @include box-shadow(rgba(255, 255, 255, 0.2) 0 1px 0 false true, rgba(255, 255, 255, 0.05) 0 1px 2px);
      @include text-shadow(rgba(0, 0 ,0, 0.25) 0 -1px 0);
      background-color: #5BB75B;
      border: 1px solid #BBB;
      border-color: #51A351 #51A351 #387038;
      color: #FFF;
      cursor: pointer;
      font-size: 17.5px;
      line-height: 20px;
      margin-right: 15px;
      padding: 11px 19px;
      text-align: center;
      vertical-align: middle;
    }
  }
}

// Homepage - Quick Start
#quick-launch {
  padding-top: 30px;

  h2 {
    margin-bottom: 30px;
    text-align: center;
  }

  .instructions {
    list-style-type: none;
    margin: 0;
    overflow: hidden;

    .step {
      float: left;
      margin-right: 15px;
      width: 174px;

      &:last-child {
        margin-right: 0;
      }

      &.active {

        p {
          color: #7DAF42;
        }

        .step-number {
          background-color: #97BF68;
          border-color: #7DAF42;
          color: #FFF;
        }
      }

      a {
        text-decoration: none;
      }

      p {
        color: #999;
        margin: 0;
        overflow: hidden;
        width: 88px;
      }

      .step-number {
        border: 4px solid #999;
        border-radius: 40px;
        color: #999;
        float: left;
        font-size: 18px;
        font-weight: bold;
        height: 33px;
        line-height: 33px;
        margin-right: 10px;
        text-align: center;
        width: 33px;
      }
    }
  }

  .terminal {
    height: 230px;
    margin: 10px 0 0 38px;
    overflow: hidden;
    position: relative;

    .prompt {
      color: #FFF;
      font-family: Monaco;
      font-size: 12px;
      font-weight: bold;
      left: 49px;
      position: absolute;
      z-index: 50;
      top: 47px;
      width: 704px;

      .command {
        display: none;

        &.active {
          display: inline;
        }
      }
    }

    img {
      width: 810px;
    }
  }
}

// Homepage - Features
#features {
  /*box-shadow: 0px 5px 14px #333;*/
  /*background-color: #F3F3F3;*/
  /*border-bottom: 3px solid #EEE;*/
  /*padding: 30px 0 50px 0;*/
  @include clearfix();
  border-top: 3px solid #EEE;
  padding: 30px 0;

  h2 {
    /*text-shadow: 2px 2px #FFF;*/  
    margin-bottom: 30px;
    text-align: center;
  }

  .feature {
    float: left;
    width: 25%;

    h4 {
      color: #7DAF42;
      font-size: 17.5px;
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 10px;
    }

    p {
      margin: 0;
      color: #666;
      font-size: 14px;
      line-height: 20px;
      padding-right: 15px;
    }
  }
}