#global-header {
  background-color: #111;
  border-bottom: none;
  height: 38px;
  padding: 10px 0;

  div {
    height: 48px;
    /*width: 960px;*/

    .logo {
      display: block;
      float: left;

      img {
        height: 38px;
      }
    }

    nav {
      float: right;

      ul {
        position: relative;

        li {
          border-right: none;
          margin: 12px 0 0 20px;
          padding: 0;

          a {
            color:#888;
            text-shadow: 1px 1px #000;
            font-size: 16px;
            font-family: 'Cabin', sans-serif;
            text-transform: uppercase;   

            &:hover {
              text-decoration: none;
              color: #FFF;
            }        
          }
        }
      }
    }
  }
}

#main {
  /*width: 960px;*/
}