body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#global-header,
#global-footer {
  background-color: #111;
  padding: 10px 0;
}

#global-header {
  border-bottom: none;
  height: 38px;

  div {
    height: 48px;
    /*width: 960px;*/

    .logo {
      display: block;
      float: left;

      img {
        height: 38px;
      }
    }

    nav {
      float: right;

      ul {
        position: relative;

        li {
          border-right: none;
          margin: 12px 0 0 20px;
          padding: 0;

          a {
            color:#888;
            text-shadow: 1px 1px #000;
            font-size: 16px;
            font-family: 'Cabin', sans-serif;
            text-transform: uppercase;   

            &:hover {
              text-decoration: none;
              color: #FFF;
            }        
          }
        }
      }
    }
  }
}

#main {
  /*width: 960px;*/
}

#global-footer {
  border-top: 5px solid #7DAF42;
  margin-top: 20px;

  ul {
    display: block;
    margin-top: 14px;

    li {

      a {
        color: #7DAF42;
      }
    }
  }

  .social-actions {
    margin-top: 5px;
  }
}