body {
  margin: 0 auto;
  font-family: Helvetica, Arial, Sans-Serif;
  line-height: 150%;
  background: #222;
  color: #ccc;
}

header {
  height: 3em;
  background: #000;
  padding: .5em;
}

.content {
  width: 600px;
  margin: 0 auto;
}

.logo {
  width: 200px;
  height: 44px;
  background: url(/public/img/logo.png);
  display: inline-block;
  text-indent: -9999px;
}

a {
  color: #4da630;
}

a:hover {
  color: #77ff4a;
}

code {
  display: inline-block;
  background: #0f47a2;
  color: #b2d0ff;
  border: 1px solid #0062ff;
  padding: 2px 5px;
}
